<div class="row" [hidden]="!isLoading">
  <div class="col-md-12">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
</div>
<div class="row" [hidden]="isLoading">
  <div class="col">
    <app-league-standing [groups]="pool?.season.groups"></app-league-standing>
    <div class="row">
      <div class="col">
        <app-build-column [items]="diplayedFixtures" [gridCols]="2">
          <ng-template let-fixture>
            <app-fixture [hidden]="fixture.status === 'FINISHED'" [fixture]="fixture"></app-fixture>
          </ng-template>
        </app-build-column>
      </div>
    </div>
  </div>
</div>
